creds/*
.vscode
downloads/*
osu-replay-downloader
temp.txt
temp.json
settingsfile.conf

# Byte-compiled / optimized / DLL files
__pycache__/


.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
